@blockSize: 15px;
.container {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score_panel {
    display: inline-block;
    width: 70px;
}
.next_block {
    display: inline-block;
    width: 70px;
}
.screen__row {
    height: @blockSize + 2;
}
.screen__item {
    display: inline-block;
    width: @blockSize;
    height: @blockSize;
    border: 1px solid #333;
    border-color: #987f0f #fae36c #fae36c #987f0f;
    background: #9ead86;
    line-height: @blockSize;
    &_black {
        display: inline-block;
        width: @blockSize;
        height: @blockSize;
        border: 1px solid #333;
        border-color: #987f0f #fae36c #fae36c #987f0f;
        background: #333;
        line-height: @blockSize;
    }
}
.title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    line-height: 50px;
}
.score {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}