.screen {
    width: 240px;
    margin: 0 auto;
}
.screen__row {
    height: 24px;
}
.screen__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border: 1px solid #333;
    border-color: #987f0f #fae36c #fae36c #987f0f;
    background: #9ead86;
    line-height: 20px;
    &_black {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 1px;
        border: 1px solid #333;
        border-color: #987f0f #fae36c #fae36c #987f0f;
        background: #333;
        line-height: 20px;
    }
}